linguagensDeMarcacao/XSD/2intermediario.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="aluno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string" />
                <xs:element name="idade" type="xs:integer" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>