linguagensDeMarcacao/WSDL/exemplo.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://www.example.com/filmService"
             targetNamespace="http://www.example.com/filmService">
    <types>
        <xsd:schema targetNamespace="http://www.example.con/filmService">
            <xsd:element name="FilmRequest" type="xsd:string"/>
            <xsd:element name="FilmResponse" type="xsd:string"/>
        </xsd:schema>
    </types>
    <message name="FilmRequestMessage">
        <part name="title" element="tns:FilmRequest"></part>
    </message>
    <message name="FilmDetailMessage">
        <part name="details" element="tns:FilmResponse"></part>
    </message>
    <portType name="FilmServicePortType">
        <operation name="GetFilmDetails">
            <input message="tns:FilmRequestMessage" />
            <output message="tns:FilmDetailsMessage" />
        </operation>
    </portType>
    <binding name="FilmServiceBinding" type="tns:FilmServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation>
            <soap:operation soapAction="GetFilmDetailsAction"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>
    <service name="FilmService">
        <documentation>Filmes Brasileiros</documentation>
        <port name="FilmServicePort" binding="tns:FilmServiceBinding">
            <soap:address location="http://www.example.com/filmService" />
        </port>
    </service>
</definitions>